apex==0.9.10dev
dgl==0.5.2
filelock==3.0.12
gensim==3.8.3
nltk==3.6.1
numpy==1.19.2
psutil==5.8.0
py3nvml==0.2.7
regex==2021.4.4
requests==2.25.1
sentencepiece==0.1.91
spacy==3.0.5
strsimpy==0.1.7
tensorflow==2.9.1
tokenizers==0.8.1rc1
torch==1.8.1
tqdm==4.49.0
transformers==3.0.2
